<!DOCTYPE html>
<html ng-app="jsTreeBind">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Tree Example</title>
</head>
<body ng-controller="exampleTree">

<!--On button click the entire person array is changed-->
<button ng-click="change()">Change Data</button>

@@include('./common_elements.html')

<!--Set the template element to be hidden so it doesn't show up in the DOM-->
<div class="hidden" id="tree-template">

    <!--The root node that has the text 'People'-->
    <div>
        People
        <div ng-repeat="person in people()">

            <!--Using a text node to set the text property-->
            {{ person.name }}

            <!--Using a data-attribute to set the text property-->
            <div data-text="Tags">
                <!--Using a data-attribute to set the icon property-->
                <div data-icon="glyphicon glyphicon-leaf" ng-repeat="tag in person.tags track by $index">{{tag}}</div>
            </div>

            <div data-text="Friends">

                <!--Using data-jstree to disable the node (the only way to set boolean properties afaik-->
                <div data-jstree='{"disabled": true}' data-icon="glyphicon glyphicon-leaf"
                     ng-repeat="friend in person.friends">{{friend.name}}
                </div>
            </div>

            <div data-text="Age">
                <!--Using a data-jstree attribute to set the icon-->
                <div data-jstree='{"icon": "glyphicon glyphicon-leaf"}'>{{person.age}}</div>
            </div>

            <div data-text="Gender">
                <!--Using data-attribute to disable the node-->
                <div data-disabled="true" data-icon="glyphicon glyphicon-leaf">{{person.gender}}</div>
            </div>
        </div>
    </div>
</div>

<!--Include Angular-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>

@@include('./common_deps.html')

<script>
    //Create the Angular module and controller
    var app = angular.module('jsTreeBind', ["ngLocale"]);

    app.controller('exampleTree', function ($scope) {
        $scope.samples = require("common");
        $scope.people = function () {
            return $scope.samples[0];
        };
        $scope.change = function () {
            $scope.samples.reverse();
        };
    });

    //Set up the adaptor
    $("#js-tree").jstreeBind("#tree-template");
</script>
</body>
</html>